.color-circle {
    width: 50px;
    height: 50px;
    margin-top: 8px;
    border: 2px solid rgb(161, 161, 161);
    border-radius: 50%;
}

.active {
    border: 2px solid rgb(0, 0, 0);
}

.disabledButton {
    background-color: rgb(53, 52, 52);
    cursor: not-allowed;
}

.lowInventory {
    color: red;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.itemSale {
    font-weight: 300;
}